In [2]:
# Bond valuation, Var Covar matrix and NPV Calculations

In [8]:
import numpy as np
def buildbond1(c,t):
    temp1=np.zeros(t)
    temp1+=c
    temp1[-1]+=100
    return temp1

In [11]:
buildbond1(5,5)

array([  5.,   5.,   5.,   5., 105.])

In [16]:
def pricebond1(c,r,t):
    price1=0
    for i in range(1,t+1):
        price1+=buildbond1(c,t)[i-1]/((1+r)**i)
    return price1

In [17]:
pricebond1(5,0.05,5)

99.99999999999997

In [24]:
# duration
def duration1(c,r,t):
    temp=0
    time=range(1,t+1)
    for i in range(0,t):
        temp+=buildbond1(c,t)[i]/(1+r)**time[i]*time[i]
    temp=temp/pricebond1(c,r,t)
    return temp

In [31]:
# convexity
def convexity1(c,r,t):
    temp=0
    time=range(1,t+1)
    for i in range(0,t):
        temp=temp+buildbond1(c,t)[i]/(1+r)**time[i]*time[i]*(1+time[i])
    temp/=pricebond1(c,r,t)
    temp/=(1+r)**2
    return temp

In [30]:
duration1(1,0.05,5)

4.8901698112324725

In [32]:
convexity1(5,0.05,5)

23.93598749790724

In [33]:
import pandas_datareader.data as web
import datetime as dt
import pandas as pd

start=dt.datetime(2010,1,1)
end=dt.datetime.now()

tickers=['AAPL','GOOG','MSFT']
df2=pd.DataFrame()

for ticker in tickers:
    df=web.DataReader(ticker,'yahoo',start,end)
    df2[ticker]=df['Adj Close']

In [34]:
df2.tail()

                  AAPL         GOOG        MSFT
Date
2020-02-19  323.619995  1526.689941  187.279999
2020-02-20  320.299988  1518.150024  184.419998
2020-02-21  313.049988  1485.109985  178.589996
2020-02-24  298.179993  1421.589966  170.889999
2020-02-25  289.390015  1391.500000  168.190002

In [40]:
return1=np.log(df2/df2.shift(1))

In [42]:
return1.tail()

                AAPL      GOOG      MSFT
Date
2020-02-19  0.014379  0.004609  0.002995
2020-02-20 -0.010312 -0.005609 -0.015389
2020-02-21 -0.022895 -0.022004 -0.032123
2020-02-24 -0.048666 -0.043713 -0.044073
2020-02-25 -0.029922 -0.021394 -0.015926

In [46]:
return1.corr()

          AAPL      GOOG      MSFT
AAPL  1.000000  0.468595  0.463778
GOOG  0.468595  1.000000  0.545906
MSFT  0.463778  0.545906  1.000000

In [47]:
return1.cov()

          AAPL      GOOG      MSFT
AAPL  0.000265  0.000117  0.000108
GOOG  0.000117  0.000235  0.000120
MSFT  0.000108  0.000120  0.000206

In [48]:
# NPV calculation

C=[-100,20,30,40,35]
r=0.03

In [51]:
def npv1(C,r):
    temp=0
    for i in range(len(C)):
        temp+=C[i]/(1+r)**i
    return temp

In [52]:
npv1(C,r)

15.398066053343463